@mixin mq-sm {
  @media (min-width: 500px) {
    @content;
  }
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    max-width: 70%;
    h2 {
      font-family: "Futura Bold";
      font-weight: 500;
      font-size: 20px;
      background-color: #55c6f2;
      color: #fff;
      border-radius: 10px;
      padding: 10px 20px;
      max-width: max-content;
      margin: 30px auto 25px auto;
      @include mq-sm {
        font-size: 30px;
      }
    }
    h3 {
      font-family: "Futura Bold";
      font-weight: 500;
      font-size: 16px;
      color: #474747;
      border-radius: 10px;
      max-width: max-content;
      margin: 10px auto;
      @include mq-sm {
        font-size: 25px;
      }
    }
    .faqContainer {
      cursor: pointer;
      .question {
        position: relative;
        align-items: center;
        background-color: #e7e7e7;
        padding: 8px 30px 8px 5px;
        text-align: center;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
        p {
          margin: 0;
          font-family: "Futura Bold";
          font-weight: 500;
          font-size: 15px;
          @include mq-sm {
            font-size: 25px;
          }
        }
        img {
          position: absolute;
          width: 15px;
          height: 10px;
          right: 20px;
          top: 40%;
          transform: rotateZ(0deg);
          transition: transform 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          @include mq-sm {
            width: 20px;
            height: 15px;
          }
        }
      }
    }
    .answer {
      margin-top: 0;
      margin-bottom: 25px;
      padding: 10px;
      font-family: "Futura Medium";
      border: 2px solid #e7e7e7;
      p {
        font-size: 12px;
        @include mq-sm {
          font-size: 16px;
        }
      }
    }
    .rotate {
      transform: rotateZ(180deg) !important;
    }
  }
}
