@mixin mq-lg {
  @media (min-width: 1370px) {
    @content;
  }
}
@mixin mq-sm {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 770px) {
    @content;
  }
}
.desktop {
  display: none;
  @include mq-sm {
    display: block;
  }
}
.mobile {
  display: block;
  @include mq-sm {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/cliqtick.appspot.com/o/ststicV2%2Fcover.jpg?alt=media&token=45fe91e9-f3c3-4a16-b0a1-204334316552");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq-sm {
    height: 60vh;
  }
  .container {
    text-align: center;
    color: #fff;
    h1 {
      font-family: "Futura Light";
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 3px;
      margin: 0;
      margin-bottom: 20px;
      @include mq-sm {
        font-size: 30px
      }
    }
    h3 {
      font-family: "Futura Bold";
      font-size: 30px;
      letter-spacing: 2px;
      margin: 0;
      text-transform: uppercase;
      @include mq-sm {
        font-size: 75px;
      }
    }
    p {
      font-family: "Futura Bold";
      font-size: 15px;
      letter-spacing: 0.25px;
      text-transform: uppercase;
      margin: 10px auto;
      padding: 20px;
      background-color: #55c6f2;
      max-width: fit-content;
    }
  }
}

.features {
  background-color: #00c6f3;
  width: 100%;
  .container {
    padding: 100px 0;
    display: block;
    justify-content: space-evenly;
    margin-left: 10px;
    @include mq-sm {
      margin: auto;
      display: flex;
    }
    div {
      h3 {
        color: #fff;
        font-family: "Futura Bold";
        font-size: 25px;
        text-transform: uppercase;
        @include mq-sm {
          font-size: 30px;
        }
      }
      p {
        color: #fff;
        font-family: "Futura Medium";
        font-size: 18px;
        margin: 5px 0;
      }
      .anchor {
        margin-top: 10px;
        text-transform: uppercase;
        font-family: "Futura Bold";
        font-size: 15px;
        background-color: #fff;
        padding: 10px;
        max-width: fit-content;
        color: #55c6f2;
      }
    }
  }
}

.clients {
  width: 100%;
  .container {
    width: 100%;
    padding-bottom: 50px;
    h2 {
      font-family: "Futura Bold";
      font-size: 30px;
      margin: 50px 0;
      color: #0c0c0c;
      text-transform: uppercase;
      text-align: center;
      @include mq-sm {
        font-size: 45px;
      }
    }
   
    .slide {
      display: flex !important;
      justify-content: center;
      img {
        height: 50px !important;
        width: auto !important;
        margin: 0 30px;
        @include mq-sm {
          height: 130px !important;
        }
      }
    }
    .indicators {
      margin: 10px auto;
      display: flex !important;
      justify-content: center;
      list-style: none;
      @include mq-sm {
        margin: 30px auto;
      }
      li {
        margin: 0 5px;
        @include mq-sm {
          margin: 0 25px;
        }
        button {
          border: none;
          border: 2px solid #00c6f3;
          color: transparent;
          cursor: pointer;
          display: block;
          height: 15px;
          width: 10px;
          border-radius: 50%;
        }
      }
    }
    .indicators :global(li.slick-active) button {
      background-color: #00c6f3;
    }
  }
}

.story {
  width: 100%;
  background-color: #e0e0e0;
  .container {
    padding: 10px 40px;
    @include mq-sm {
      padding: 10px 80px;
    }
    .heading {
      display: block;
      justify-content: space-around;
      align-items: center;
      @include mq-sm {
        display: flex;
      }
      .logo {
        width: auto;
        height: 70px;
      }
      span {
        display: block;
        h3 {
          font-family: "Futura Bold";
          margin: 5px auto;
          font-size: 20px;
          color: #0c0c0c;
          text-transform: capitalize;
          @include mq-sm {
            font-size: 45px;
          }
        }
      }
    }
    .content {
      display: block;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;
      @include mq-sm {
        display: flex;
      }
      .leftContainer {
        h2 {
          font-family: "Futura Bold";
          text-transform: uppercase;
          font-size: 25px;
          color: #fff;
          padding: 10px 20px;
          background-color: #797979;
          max-width: fit-content;
          margin: 10px 0 0 0;
          @include mq-sm {
            font-size: 45px;
          }
        }
        p {
          font-family: "Futura Medium";
          font-size: 20px;
          margin: 10px 40px 0 0;
          color: #888888;
        }
      }
      .rightContainer {
        position: relative;
        margin-top: 20px;
        @include mq-sm {
          margin-top: auto;
        }
      }
      .rightContainer::before {
        content: "";
        position: absolute;
        height: calc(100% - 7px);
        width: 10px;
        right: -10px;
        top: 10px;
        background-color: #00c6f3;
      }
      .rightContainer::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 100%;
        right: -10px;
        bottom: -3px;
        background-color: #00c6f3;
      }
    }
  }
}

.whatwedo {
  width: 100%;
  background-color: #5cb87c;
  padding: 10px 0;
  .container {
    h2 {
      font-family: "Futura Bold";
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      @include mq-sm{
        font-size: 45px;
      }
    }
    .content {
      display: block;
      justify-content: space-evenly;
      @include mq-sm {
        display: flex;
      }
      div {
        text-align: center;
        width: 100%;
        padding: 0 20px;
        @include mq-sm {
          width: 20%;
          padding: 0;
        }
        h3 {
          color: #fff;
          font-family: "Futura Bold";
          font-size: 20px;
          text-transform: uppercase;
          margin: 5px 0;
          text-align: center;
        }
        p {
          font-family: "Futura Medium";
          font-size: 16px;
          color: #084a1f;
        }
        .mth {
          margin-top: 5%;
        }
        .mtp {
          margin-top: 7%;
        }
      }
    }
  }
}

.review {
  padding: 10px 0;
  width: 100%;
  .container {
    h2 {
      text-align: center;
      font-family: "Futura Bold";
      font-size: 25px;
      margin-top: 5%;
      @include mq-sm {
        font-size: 45px;
      }
    }
    .reviewContainer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      img {
        width: 40%;
        height: fit-content;
        @include mq-sm {
          width: 20%;
        }
      }
    }
  }
}

.work {
  width: 100%;
  .container {
    padding: 10px 0;
    background-color: #e0e0e0;
    width: 100%;
    h2 {
      font-family: "Futura Bold";
      font-size: 25px;
      text-align: center;
      text-transform: uppercase;
      @include mq-sm {
        font-size: 45px;
      }
    }
    h5 {
      font-family: "Futura Bold";
      font-size: 16px;
      text-transform: uppercase;
      color: #00c6f3;
      padding: 5px 15px;
      background-color: #fff;
      margin: 20px auto;
      max-width: fit-content;
      cursor: pointer;
      @include mq-sm {
        font-size: 20px;
      }
    }
    .workContent {
      margin-top: 5%;
      display: block;
      align-items: center;
      justify-content: space-evenly;
      @include mq-sm {
        display: flex;
      }

      .left {
        h2 {
          font-family: "Futura Bold";
          font-size: 16px;
          text-transform: uppercase;
          @include mq-sm {
            font-size: 20px;
          }
        }
        .row {
            display: flex;
            justify-content: center;
          img {
            box-shadow: 1.4px 1.4px 4.6px 0.5px rgba(0, 0, 0, 0.29);
            height: 200px;
            margin: 10px;
            @include mq-sm {
              margin: 20px;
            }
          }
        }
      }
      .right {
        h2 {
          font-family: "Futura Bold";
          font-size: 16px;
          text-transform: uppercase;
          @include mq-sm {
            font-size: 20px;
          }
        }
        .row {
           display: block;
          @include mq-sm {
            display: flex;
          }
          .videoContainer {
            position: relative;
            .video {
              margin: 20px;
              height: 189px !important;
              width: auto !important;
              @include mq-sm {
                height: 200px !important;
              }
            }
          }
          .videoContainer::before {
            content: "";
            position: absolute;
            right: 3.6%;
            top: 11.5%;
            width: 5px;
            background-color: #00c6f3;
            height: 80%;
          }
          .videoContainer::after {
            content: "";
            position: absolute;
            left: 6.4%;
            bottom: 8.5%;
            height: 5px;
            background-color: #00c6f3;
            width: 90%;
          }
        }
      }
    }
  }
}

.testimonials {
  width: 100%;
  background-color: #00c6f3;
  padding: 10px 0;
  .container {
    display: block;
    align-items: center;
    @include mq-sm {
      display: flex;
    }
    .head {
      width: 100%;
      text-transform: uppercase;
      @include mq-sm {
        width: 30%;
      }
      p {
        font-family: "Futura Light";
        font-size: 20px;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
        margin: 5px;
        @include mq-sm {
          font-size: 30px;
        }
      }
      h3 {
        font-family: "Futura Bold";
        font-size: 30px;
        letter-spacing: 0.71px;
        text-align: center;
        color: #ffffff;
        margin: 5px;
        @include mq-sm {
          font-size: 40px;
        }
      }
    }
    .verticalLine {
      width: 90%;
      height: 5px;
      margin: 20px;
      background-color: #09afd5;
      @include mq-sm {
        height: 50vh;
        width: 5px;
        margin: auto 20px;
      }
    }
    .crousal {
      overflow: hidden;
      flex: 1;
      .indicators {
        margin: 40px auto;
        display: flex !important;
        justify-content: center;
        list-style: none;
        li {
          margin: 0 25px;
          button {
            border: none;
            border: 2px solid #fff;
            color: transparent;
            background-color: #00c6f3;
            cursor: pointer;
            display: block;
            height: 15px;
            width: 15px;
            border-radius: 7.5px;
          }
        }
      }
      .indicators :global(li.slick-active) button {
        background-color: #fff;
      }
    }
  }
}

.nextArrow {
  position: absolute;
  top: -100%;
  margin-right: 10px;
  img {
    width: 40px;
  }
}