@mixin mq-lg {
  @media (min-width: 1370px) {
    @content;
  }
}
@mixin mq-sm {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 770px) {
    @content;
  }
}

.container {
  position: sticky;
  top: 0;
  padding: 0px 41px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  z-index: 100;
  .logo {
    width: 180px;
    height: auto;
    padding: 10px 0;
    cursor: pointer;
    @include mq-sm {
      width: 228px;
    }
  }
  .linkContainer {
    list-style: none;
    display: none;
    @include mq-sm {
      display: flex;
    }
    align-items: center;
    margin: 0;
    margin-right: 40px;
    cursor: pointer;
    li {
      text-align: center;
      font-family: "Futura Bold";
      font-size: 20px;
      padding: 0 40px;
      text-decoration: none;
      color: #000;
      @include mq-md {
        padding: 0 15px;
      }
    }
    .verticalLine {
      width: 3px;
      height: 30px;
      background: #000;
    }
    a {
      text-decoration: none;
    }
  }
  .relative {
    position: relative;
  }
  .social {
    .socialIcons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      img {
        margin-right: 12px;
        width: 30px;
      }
    }
    .whatsapp {
      display: flex;
      border: 1px solid #000;
      align-items: center;
      margin-bottom: 15px;
      max-width: max-content;
      img {
        width: 25px;
        margin-left: 5px;
      }
      p{
        font-family: "Futura Bold";
        font-size: 20px;
        margin: 5px;
        color: #000;
        padding-right: 5px;
      }
    }
  }
}

.active {
  position: absolute;
  width: 110px;
  height: 60px;
  background-color: #55c6f2;
  left: 2.5vw;
  top: -30px;
  border-radius: 0 0 10px 10px;
  z-index: -1;
  transition: left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: none;
  @include mq-sm {
    display: block;
  }
  @include mq-md {
    width: 100px;
    left: 2vw;
  }
  @include mq-lg {
    left: 1.5vw;
  }
}

.active::after {
  content: "";
  position: absolute;
  display: none;
  @include mq-sm {
    display: block;
  }
  top: 0;
  border: 15px solid #55c6f2;
  right: -13px;
  z-index: -1;
  border-radius: 0 0 5px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-bottom-left-radius: 10px;
}

.active::before {
  content: "";
  position: absolute;
  display: none;
  @include mq-sm {
    display: block;
  }
  top: 0;
  border: 15px solid #55c6f2;
  left: -15px;
  z-index: -1;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.navItem {
  text-align: center;
  font-family: "Futura Bold";
  font-size: 16px;
  padding: 0 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0;
}

a {
  text-decoration: none;
}

.service {
  position: relative;
}
.serviceItem {
  position: absolute;
  transform: scale(0);
  background-color: rgb(255, 255, 255);
  width: max-content;
  text-align: center;
  border-radius: 10px;
  left: -20%;
  margin-top: 25%;
  box-shadow: 1.4px 2.7px 7px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.5s ease-out;
  p {
    font-family: "Futura Bold";
    font-size: 16px;
    margin: 0 auto;
    color: #000;
  }
  p:hover {
    color: #55c6f2;
  }
}

.serviceItem::before {
  content: "";
  position: absolute;
  top: -22%;
  left: 35%;
  border-style: solid;
  border-width: 0 26px 26px;
  border-color: rgb(255, 255, 255) transparent;
  display: block;
  width: 0;
  z-index: 0;
}

.service:hover .serviceItem {
  transform: scale(1);
}
