@mixin mq-xs {
    @media (min-width: 320px) {
      @content;
    }
  }
  
  @mixin mq-sm {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin mq-md {
    @media (min-width: 770px) {
      @content;
    }
  }
  
  @mixin mq-lg {
    @media (min-width: 1100px) {
      @content;
    }
  }
  
  @mixin mq-xl {
    @media (min-width: 1400px) {
      @content;
    }
  }

.manage {
    width: 100%;
    background-color: #d3deeb;
    .container {
        width: 100%;
        padding: 0 60px;
        padding-bottom: 20px;
        h2 {
            font-family: "Poppins Bold";
            font-size: 20px;
            color: #4d69a3;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            @include mq-sm {
                font-size: 40px;
            }
        }
        .subContainer {
            max-width: 900px;
            display: block;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            margin-top: 25px;
            @include mq-sm {
                text-align: start;
                display: flex;
            }
            .mobile {
                display: block;
                @include mq-sm {
                    display: none;
                }
            }
            .desktop {
                display: none;
                @include mq-sm {
                    display: block;
                }
            }
            .contentContainer {
                display: block;
                .content {
                    max-width: 240px;
                    img {
                        width: 50%;
                        height: auto;
                        padding-left: 0;
                        @include mq-sm {
                            width: 50%;
                        }
                    }
                    .w18 {
                        width: 50% ;
                        @include mq-sm {
                            width: 30% !important;
                        }
                    }
                    .title {
                        font-family: "Poppins Bold";
                        font-size: 20px;
                        line-height: 25px;
                        color: #4d69a3;
                        text-transform: uppercase;
                        margin: 2px 0;
                    }
                    .desc {
                        font-family: "Poppins";
                        font-size: 16px;
                        line-height: 25px;
                        color: #414141;
                        margin: 2px 0;
                    }
                }
            }
            img {
                width: 30%;
                height: auto;
                padding: 0 20px;
            }
        }
    }
}